.skin-blue .sidebar-menu > li.header {
    background: #1a2226 none repeat scroll 0 0;
    color: #4b646f;
}

.skin-black .sidebar-menu > li.header {
    background: #1a2226 none repeat scroll 0 0;
    color: #4b646f;
}

.skin-purple .sidebar-menu > li.header {
    background: #1a2226 none repeat scroll 0 0;
    color: #4b646f;
}

.skin-yellow .sidebar-menu > li.header {
    background: #1a2226 none repeat scroll 0 0;
    color: #4b646f;
}

.skin-green .sidebar-menu > li.header {
    background: #1a2226 none repeat scroll 0 0;
    color: #4b646f;
}

.skin-red .sidebar-menu > li.header {
    background: #1a2226 none repeat scroll 0 0;
    color: #4b646f;
}
